<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="Filter table headers"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleConfirm()"
>
  <ng-container *nzModalContent>
    <p
      class="example-box"
      *ngFor="let keyValuePair of innerFilterData | keyvalue"
    >
      <span
        nz-checkbox
        (ngModelChange)="innerFilterData.set(keyValuePair.key, $event)"
        [ngModel]="innerFilterData.get(keyValuePair.key)"
      >
        {{ keyValuePair.key }}
      </span>
    </p>
  </ng-container>
</nz-modal>
