.table-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.pagination-container {
  margin: 1rem 0;
}

nz-list-header {
  min-width: 100px;
}

.example-box {
  text-align: left;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
}

.example-box:hover .header-icon,
.cdk-drag-preview .header-icon {
  opacity: 1;
}

.header-icon {
  opacity: 0;
  font-size: 0.9rem;
  transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -webkit-transition: opacity 0.2s ease-in-out;
  position: absolute;
  margin: 0;
  top: 50%;
  right: 5px;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.cdk-drag-preview nz-list-item {
  text-indent: 1000%;
  white-space: nowrap;
  overflow: hidden;
}

.cdk-drag-preview nz-list-header {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  display: flex;
  align-items: center;
  min-height: 47px;
  vertical-align: middle;
  padding: 0 1rem;
  background: rgb(255, 255, 255) !important;
}

.cdk-drag-placeholder nz-list-header {
  background: #ccc !important;
  -webkit-box-shadow: inset 0px 0px 0px 3px #999;
  -moz-box-shadow: inset 0px 0px 0px 3px #999;
  box-shadow: inset 0px 0px 0px 3px #999;
  //border: dotted 3px #999 !important;
  /* Hide the text. */
  text-indent: 1000%;
  white-space: nowrap;
  overflow: hidden;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list {
  flex-wrap: nowrap;
  white-space: nowrap;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-list.cdk-drop-list-dragging
  .example-box:not(.cdk-drag-placeholder)
  .header-icon {
  opacity: 0 !important;
}

.filter-button-container {
  margin: 0 0 1rem 0;
}
